{% extends "account/base.html" %}

{% block title %}Confirm password reset{% endblock %}

{% block body %}

    <div class="grid_16">

        <h2>Confirm Password Reset</h2>

        {% if form %}
            Enter your new password below to reset your password:

            {% if form.non_field_errors %}
                <ul class="error_msg">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <form action="" method="post">
                {% include "account/form_snippet.html" with form=form %}
                <div class="form_row">
                    <div class="grid_3 alpha">{% csrf_token %}&nbsp;</div>
                    <div class="grid_5"><input type="submit" name="submit" value="Reset Password"></div>
                    <div class="clear"></div>
                </div>
            </form>
        {% else %}
            Invalid password reset request. Please make sure the url matches exactly with the one sent in the email.
        {% endif %}

    </div>
    <div class="clear"></div>

{% endblock %}
