{% extends "shop/base.html" %}
{% load shop_filters %}

{% block content %}
    <div class="grid_16">
        <h2>Purchase Information</h2>
        <table width="940" id="shopping_cart">
            <thead>
                <tr>
                    <th width="">Item #</th>
                    <th width="">Item name</th>
                    <th width="">Unit Price</th>
                    <th width="">Qty</th>
                    <th width="">Item total</th>
                </tr>
            </thead>

            <tbody>
                {% for item in purchase.items %}
                <tr>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.name|linebreaks }}</td>
                    <td class="align_right">{{ item.unit_price|currency }}</td>
                    <td class="align_center">{{ item.qty }}</td>
                    <td class="align_right">{{ item.sub_total|currency }}</td>
                </tr>
                {% endfor %}
                
                <tr>
                    <td colspan="4" class="align_right">Subtotal: </td>
                    <td class="align_right">{{ order.get_subtotal|currency }}</td>
                </tr>

                {% for tax in order.get_tax_summary %}
                <tr>
                    <td colspan="4" class="align_right">{{ tax.0 }}: </td>
                    <td class="align_right">{{ tax.1|currency }}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="4" class="align_right">Discount: </td>
                    <td class="align_right">{{ order.get_discount_summary.1|currency }}</td>
                </tr>

                <tr>
                    <td colspan="4" class="align_right">Shipping: </td>
                    <td class="align_right">{{ order.get_shipping_summary.2|currency }}</td>
                </tr>

                <tr>
                    <td colspan="4" class="align_right"><strong>Amount payable: </strong></td>
                    <td class="align_right"><strong>{{ order.get_total|currency }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
    <br>
    <div class="grid_5">
        <strong>Billing information</strong><br>
        {{ order.billing_first_name }} {{ order.billing_last_name }}<br>
        {{ order.billing_address_1 }}, <br>
        {{ order.billing_city }}, {{ order.billing_province }} <br> 
        {{ order.billing_postal_code }}<br>
        {{ order.billing_country }}<br>
        Phone: {{ order.billing_phone|telephone }}<br>
    </div>
    
    <div class="grid_5">
        <strong>Shipping information:</strong><br>
        {{ order.shipping_first_name }} {{ order.shipping_last_name }}<br>
        {{ order.shipping_address_1 }}, <br>
        {{ order.shipping_city }}, {{ order.shipping_province }} <br> 
        {{ order.shipping_postal_code }}<br>
        {{ order.shipping_country }}<br>
        Phone: {{ order.shipping_phone|telephone }}<br>
    </div>
    
	<div class="grid_6">
	    {% if cc_form.non_field_errors %}
			<ul class="error_msg">{% for error in cc_form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
		{% endif %}

	    <strong>Credit Card Information:</strong><br>
	   	<form action="" id="cc" method="post" accept-charset="utf-8">
    		{% csrf_token %}
    		{% include "shop/form_snippet.html" with form=cc_form %}
    	</form>
	</div>
    <div class="clear"></div>
    
    <div class="grid_16 submit_bar">
        <span><a href="{% url "shop_order_delete" %}">Cancel order and start over</a></span>
        <button type="submit" form="cc" value="Submit">Place order</button>
    </div>
{% endblock %}