{% load staticfiles %}

{% if form.non_field_errors %}
    <ul class="error_msg">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="grid_16">
{% for field in form.visible_fields %}
    <div class="{% if field.errors %} error{% endif %}">
</div>
        <div class="form_row">
            <label for="{{ field.auto_id }}">
                {% if field.field.requireds %}
                    <strong >{{ field.label }}</strong>
                {% else %}
                    {{ field.label }}
                {% endif %}
            </label>
            {{ field }}
        </div>

        <div class="4 omega">
            {% if field.errors %}
                <a href="#" class="error_tip" title="{{ field.errors|join:"," }}">
                    <img src="{% static "img/exclamation_red.png" %}">
                </a>
            {% endif %}
        </div>
{% endfor %}
        <div class="clear"></div>
       </div>

{% for field in form.invisible_fields %}
    {{ field }}
{% endfor %}
